<md-button ng-click='newEventForm = true'>Add a new event!</md-button>
<form name="newForm" ng-show='newEventForm' ng-submit="newForm.$valid && add(event)">
  <md-input-container>
    <label for="name">Type:</label>
    <md-select ng-model="newEvent.EventType">
      <md-option ng-repeat="eventType in eventTypes" value="{{ eventType._id }}">{{ eventType.name }}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label for="venue">Venue:</label>
    <md-select name="venue" ng-model="newEvent.Venue">
      <md-option ng-repeat="venue in venues" value="{{ venue._id }}">{{ venue.name }}</md-option>
    </md-select>
  </md-input-container>
  <date-time-picker date="newEvent.date"></date-time-picker>
  {{eventDate | json}}
  <md-button type="submit">Create Event</md-button>
</form>
<div>
<div ng-repeat="event in events">
  <event event='event' ng-class="{inactive: event.inactive}"></event>
  <form name="editForm" ng-show='event.edit' ng-submit="editForm.$valid && update(event)">
    <md-input-container>
      <label for="name">Venue:</label>
      <md-select ng-model="event.Venue._id">
        <md-option ng-repeat="venue in venues" value="{{ venue._id }}">{{ venue.name }}</md-option>
      </md-select>
    </md-input-container>
    <date-time-picker date="event.date"></date-time-picker>
    <md-button type="submit">Update Event</md-button>
  </form>
  <div>
    <md-button ng-click='event.edit = true'>Edit Event</md-button><md-button ng-show="!event.inactive" ng-click="inactivate(event)">Inactivate Event</md-button><md-button  ng-show="event.inactive" ng-click="activate(event)">Activate Event</md-button>
  </div>
</div>
