<md-toolbar class="md-menu-toolbar navbar navbar-fixed-top">
    <div layout="row">
        <md-toolbar-filler flex="5" layout layout-align="center center" id="logo">
            <fullstack-logo></fullstack-logo>
        </md-toolbar-filler>
            <md-menu-bar flex="75">
                <md-menu>
                    <md-button class="btn" ng-click="$mdOpenMenu()">Browse</md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="item in items" ng-repeat="item in items" ng-show="!item.authBuyer && !item.seller && !item.admin || (item.auth && !isSeller()) || (!item.admin && !item.authBuyer && isSeller()) ||  !item.authBuyer && isAdmin()">
                            <md-button><a ui-sref="{{item.state}}">{{item.label}}</a></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()" >
                        <i aria-label="User" class="zmdi zmdi-account-box-o zmdi-hc-2x"></i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-show="!user">
                            <md-button ui-sref="login">Login</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="!user">
                            <md-button ui-sref="signup">Signup</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <span>Welcome {{ user.firstName }}!</span>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <md-button ui-sref="profile.active">Profile</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="isSeller()">
                            <md-button ui-sref="sell">Sell some tickets</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <md-button ng-click="logout()">Logout</md-button>
                        </md-menu-item>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                    <md-button ui-sref="cart" style="vertical-align:bottom">
                        <i aria-label="view cart" class="zmdi zmdi-shopping-cart zmdi-hc-2x"></i>
                    </md-button>

            </md-menu-bar>

</md-toolbar>
