<md-toolbar layout="row" layout-align="space-between center">
            
            <md-toolbar-filler layout flex layout-align="left center">
                <md-button ui-sref="home">
                    <i aria-label="StackStub home" class="zmdi zmdi-ticket-star zmdi-hc-3x"></i>
                </md-button>
            </md-toolbar-filler>

            <span flex layout layout-align="left center">StackStub</span>
            
            <md-menu-bar>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()" >
                        <i aria-label="User" class="zmdi zmdi-account-box-o zmdi-hc-2x"></i>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-show="!user">
                            <md-button ui-sref="login">Login</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="!user">
                            <md-button ui-sref="signup">Signup</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <span>Welcome {{ user.firstName }}!</span>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <md-button ui-sref="profile.active">Profile</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="isSeller()">
                            <md-button ui-sref="sell">Sell some tickets</md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="user">
                            <md-button ng-click="logout()">Logout</md-button>
                        </md-menu-item>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                    <md-button ui-sref="cart" style="vertical-align:bottom">
                        <i aria-label="view cart" class="zmdi zmdi-shopping-cart zmdi-hc-2x"></i>
                    </md-button>

            </md-menu-bar>
            
</md-toolbar>
        
        