.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 400px;
  border: 1px dashed black;
  padding: 15px 15px 15px 0;
  margin: 10px 0;
  .title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 7px;
  }
  .buttons {
    text-align: center;
    margin: 0 auto;
  }
  .blue-border {
    border-left: 5px solid #ACF0F2;
    padding-left: 10px;
  }
  .green-border {
    border-left: 5px solid #BEEB9F;
    padding-left: 10px;
  }
  .orange-border {
    border-left: 5px solid #EB7F00;
    padding-left: 10px;
  }
  .pink-border {
    border-left: 5px solid #FF358B;
    padding-left: 10px;
  }
  .cyan-border {
    border-left: 5px solid #04BFBF;
    padding-left: 10px;
  }
}
