<div flex id="ticketsForEvent" ng-show="tickets.length">
    <md-content class="md-padding">
        <md-card>
            <md-card-content>
                <div>
                	<h3>Tickets for sale</h3>
                </div>
                <table><tbody>
                	<tr ng-repeat="ticket in tickets">
                		<td>{{ ticket.seat }}</td>
                		<td>{{ ticket.price | currency }}</td>
                		<td>
                            <md-button class="md-icon-button launch" ng-click="addToCart(ticket._id)">
                                <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-lg" style="vertical-align: middle"></i>
                            </md-button>
                        </td>
                	</tr>
                </tbody></table>
            </md-card-content>
        </md-card>
    </md-content>
</div>
