<div flex id="ticketsForEvent" ng-show="tickets.length">
    <md-content class="md-padding">
        <md-card>
            <md-card-content>
                <div>
                	<h3>Tickets for sale</h3>
                </div>
                <table><tbody>
                	<tr ng-repeat="ticket in tickets">
                		<td>{{ ticket.seat }}</td>
                		<td>{{ ticket.price | currency }}</td>
                		<td><md-button class="md-raised" ng-click="addToCart(ticket._id)">add to cart</md-button></td>
                	</tr>
                </tbody></table>
            </md-card-content>
        </md-card>
    </md-content>
</div>