<div class="authform">
<div><span class="md-title">Sign up</span> <a href="/auth/google">or log in with Google</a></div>
<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendSignup()">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <md-input-container>
        <label for="email">Email address</label>
        <input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="enter email" required>
    </md-input-container>
    <md-input-container>
        <label for="login-password">Password</label>
        <input type="password" ng-model="signup.password" class="form-control" id="login-password" placeholder="enter password" required>
    </md-input-container>
    <md-input-container>
        <label for="first-name">First name</label>
        <input type="text" ng-model="signup.firstName" class="form-control" id="first-name" placeholder="enter first name" required>
    </md-input-container>
    <md-input-container>
        <label for="last-name">Last name</label>
        <input type="text" ng-model="signup.lastName" class="form-control" id="last-name" placeholder="enter last name" required>
    </md-input-container>
    <md-button type="submit">Submit</md-button>
</form>
</div>