.single-page-form {
  background-color: white;
  width: 70%;
  margin: 125px auto 50px;
  padding: 50px;
  text-align: center;
  border-bottom: 5px solid #ACF0F2;
  md-input-container {
    text-align: left;
  }
  button {
    font: 25px Amatic SC;
    margin-top: 25px;
  }
}
