<div class="main-content">
<section class='cart'>
	<p ng-hide='cart.length'>There's nothing in your cart!</p>
	<div ng-show='cart.length'>
		<h1>Your Cart :^]</h1>
		<div class='flex' layout='row'>
			<md-card ng-repeat="ticket in cart">
			    <md-card-content>
			    	<p><a class="md-title" ui-sref="event({id: ticket.eventProduct._id})">{{ ticket.eventProduct.EventType.name }}</a></p>
					<p>Seat: {{ticket.seat}}</p>
					<p>
						Date: {{ticket.eventProduct.date | date:'mediumDate'}} {{ ticket.eventProduct.date | date:'shortTime'}}
					</p>
					<p>Venue: {{ticket.eventProduct.Venue.name}}</p>
					<p>Seller: {{ticket.seller.firstName}} {{ticket.seller.lastName}}</p>
					<p>Price: ${{ticket.price}}</p>
					<button class='btn' ng-click='removeTicket(ticket._id)'>Remove from cart</button>
			    </md-card-content>
			</md-card>
		</div>
		<p>Tickets in cart: {{cart.length}}</p>
		<p>Total: ${{total}}</p>
		<md-button id='empty-btn' class='btn md-raised' ng-click='empty()'>Empty Cart</md-button>
		<md-button id='checkout-btn' class='btn md-raised' ui-sref='checkout'>Checkout</md-button>
	</div>
</section>

<h1 id='recommendations' ng-show="recs.length">Recommended:</h1>
<div layout="row" class="event">
    <div flex ng-repeat='rec in recs'>
        <md-content class="md-padding">
            <md-card>
                <img ng-src="{{ rec.EventType.imgUrl }}" class="md-card-image" alt="{{ rec.EventType.name }}"/>
                <md-card-content>
                    <a ui-sref='event({id: rec._id})'class="md-title">{{ rec.EventType.name }}</a>
                    <p><a ui-sref="venue({id:rec.Venue._id})">{{ rec.Venue.name }}</a></p>
                    <p>{{ rec.date | date:'mediumDate' }}</p>
                    <p>{{ rec.date | date:'shortTime' }}</p>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
</div>
