<section class='cart'>
	<p ng-hide='cart.length'>There's nothing in your cart!</p>
	<div ng-show='cart.length'>
		<h1>Your Cart :^]</h1>
		<div class='flex' layout='row'>
			<md-card ng-repeat="ticket in cart">
			    <md-card-content>
			    	<p><a class="md-title" ui-sref="event({id: ticket.eventProduct._id})">{{ ticket.eventProduct.EventType.name }}</a></p>
					<p>Seat: {{ticket.seat}}</p>
					<p>Date: {{ticket.eventProduct.date}}</p>
					<p>Venue: {{ticket.eventProduct.Venue.name}}</p>
					<p>Seller: {{ticket.seller.firstName}} {{ticket.seller.lastName}}</p>
					<p>Price: ${{ticket.price}}</p>
					<button class='btn' ng-click='removeTicket(ticket._id)'>Remove from cart</button>
			    </md-card-content>
			</md-card>
		</div>
		<p>Total: ${{total}}</p>
		<recommend>
		<md-button id='empty-btn' class='btn md-raised' ng-click='empty()'>Empty Cart</md-button>
		<md-button id='checkout-btn' class='btn md-raised' ui-sref='checkout'>Checkout</md-button>
	</div>
</section>