* {
  box-sizing: border-box;
}

body {
  //background: url('/images/pattern.png') repeat
  /*background: #fdfdfd;*/
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  /*padding-top: 60px;
  width: 1200px;*/
  margin: 0 auto;
}

.btn>i {
    vertical-align: middle
  }

.inactive {
  color: #999;
}

#logo {
  background-color: #ffffff;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'cart/main';
@import 'checkout/main';
@import 'eventSearch/main';
@import 'sell/main';
