<div layout="row" id="event">
	<div flex>
		<md-content class="md-padding">
			<md-card>
			    <img ng-src="{{ eventData.EventType.imgUrl }}" class="md-card-image" alt="{{ eventData.EventType.name }}"/>
			    <md-card-content>
			    	<h2 class="md-title">{{ eventData.EventType.name }}</h2>
			    	<p><a ui-sref="venue({id:eventData.Venue._id})">{{ eventData.Venue.name }}</a></p>
			    	<p>{{ eventData.date | date:'mediumDate' }}</p>
			    	<p>{{ eventData.date | date:'shortTime' }}</p>
			    </md-card-content>
			</md-card>
		</md-content>
	</div>

	<tickets-for-event></tickets-for-event>
	<more-dates></more-dates>

</div>

<section>
	<h1>Reviews:</h1>
	<md-button ng-show="loggedIn" ng-click="showAddForm = !showAddForm">Add a review!</md-button>
	<form name="addReviewForm" ng-submit="addReviewForm.$valid && addReview()">
	  <md-input-container>
	    <label for="name">Stars</label>
	    <md-select ng-model="ticket.eventProduct" required>
	      <md-option ng-repeat="event in events" value="{{ event._id }}">{{ event.EventType.name }} at {{ event.Venue.name }} ({{ event.date }})</md-option>
	    </md-select>
	  </md-input-container>
	  <md-input-container>
	    <label for="seat">Comment</label>
	    <input name="seat" type="text" ng-model="ticket.seat" placeholder="General Admission">
	  </md-input-container>
	  <md-button type="submit">Submit Review!</md-button>
	</form>
</section>

<md-button ng-click="openBottomSheet()">
Open a Bottom Sheet!
</md-button>
