<div layout="row" id="event">
	<div flex>
		<md-content class="md-padding">
			<md-card>
			    <img ng-src="{{ eventData.EventType.imgUrl }}" class="md-card-image" alt="{{ eventData.EventType.name }}"/>
			    <md-card-content>
			    	<h2 class="md-title">{{ eventData.EventType.name }}</h2>
			    	<p><a ui-sref="venue({id:eventData.Venue._id})">{{ eventData.Venue.name }}</a></p>
			    	<p>{{ eventData.date | date:'mediumDate' }}</p>
			    	<p>{{ eventData.date | date:'shortTime' }}</p>
			    </md-card-content>
			</md-card>
		</md-content>
	</div>

	<tickets-for-event></tickets-for-event>
	<more-dates></more-dates>

</div>

<section>
	<h1>Reviews:</h1>
	<div ng-show="!reviews.length">No reviews yet!</div>
	<div ng-repeat="review in reviews">
		<review review="review"></review>
	</div>
	<div ng-show="!loggedIn">Please <a ui-sref="login">log in</a> to add a review.</div>
	<md-button ng-show="loggedIn" ng-click="showAddForm = true">Add a review!</md-button>
	<form ng-show="showAddForm" name="addReviewForm" ng-submit="addReviewForm.$valid && addReview()">
	  <md-input-container>
	    <label for="stars">Stars</label>
	    <md-select name="stars" ng-model="newReview.stars" required>
	      <md-option ng-repeat="star in stars" value="{{ star }}">{{ star }}</md-option>
	    </md-select>
	  </md-input-container>
	  <md-input-container>
	    <label for="comment">Comment</label>
			<!--There's not currently a Material textarea directive.-->
	    <input name="comment" type="text" ng-model="newReview.comment">
	  </md-input-container>
	  <md-button type="submit">Submit Review!</md-button>
	</form>
</section>

<md-button ng-click="openBottomSheet()">
Open a Bottom Sheet!
</md-button>
